.containerCon{
  max-width: 350px;
  border: 1px solid black;
  margin: 15px;
  padding: 10px;
}

h1{
  text-align: center;
  color: rgb(116, 47, 47) !important;
}

.btnn{
  float: right;
}

input{
  width: 100%;
  padding: 5px;
  margin: 10px 0px;
}